*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}
html{
    font-size:62.5%;
}
img {
    max-width: 100%;
    max-height: 100%;
}

a, a:visited, a:active{
    text-decoration:none;
}
.c1{
    box-sizing:border-box;
    background-color:#1f2937;
    color:#f9faf8;
    display:flex;
    width:100%;
    padding-top:5rem;
    padding-left:10%;
    padding-right:10%;
    gap:5%;
    justify-content: center;
    align-items: center;
}
.c1 span{
    font-size:2.4em;
    color:#f9faf8;
}
.c1 a{
    font-size:1.8em;
    color:#e5e7eb;
}

.push{
    margin-left:auto;
}
.c2{
    background-color: #1f2937;
    box-sizing:border-box;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    color:#e5e7eb;
    padding-top:10rem;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:10rem;
    justify-content: center;
}
.c2l1{
    width:50rem;
    flex:1;
    padding-right:1.5%;
    padding-bottom:4rem;
}
.c2img{
    width:50rem;
}
.c2img img{
    border-radius:1rem;
}
.c2l1 div{
    font-size:2.4em;
    padding-top:1.5%;
    padding-bottom:1.5%;
    padding-right: 8%;
}
.c2l1 div:first-child{
    font-size:6.4em;
}
.c2l1 button{
    background-color:#3882f6;
    border: none;
    color: white;
    padding: 1rem 3.2rem;
    text-align: center;
    font-weight:bold;
    font-size: 1.6rem;
    margin: 0.4rem 0.2rem;
    border-radius:1rem;
}
.c2l1 button:hover{
    opacity:0.5;
}
.c3{
    padding-top:8rem;
    padding-bottom:8rem;
}
.c3l1{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:10rem;
}
.c3 p{
    font-size:4rem;
    text-align:center;
    padding-bottom:8rem;
}
.c3img{
    width: 20rem;
    height:auto;
    border-radius:1rem;
}
.c3imgtext{
    width:20rem;
    font-size:1.5rem;
    text-align:center;
}
.c4{
    padding-top:10rem;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:10rem;
    background-color: #e5e7eb;
}
.c4 p:first-child{
    font-size:4.8rem;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:3rem;
    font-weight:lighter;
    font-style:italic;
}
.c4 p:last-child{
    padding-left:10%;
    padding-right:10%;
    font-size:2.4rem;
    font-weight:bolder;
    text-align: right;
}
.c5 {
    padding-top:10rem;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:10rem;
}
.c5l1{
    background-color:#3882f6;
    display:flex;
    padding-top:5rem;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:5rem;
    border-radius:2rem;
    align-items: center;
}
.c5button{
    margin-left:auto;
    background-color:#3882f6;
    border: solid;
    color: white;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    text-align: center;
    font-weight:bold;
    font-size: 1.6rem;
    border-radius:1rem;
    width:10rem;
    height:5rem;
}
.c5button:hover{
    opacity:0.5;
}
.c5l1 p{
    color:white;
}
.c5l1 p:first-child{
    font-size:4.8rem;
}
.c5l1 p:last-child{
    font-size:1.8rem;
}
#copyright{
    text-align:center;
    font-size:1.4rem;
    color:white;
    background-color:#1f2937;
    padding-top:1.8rem;
    padding-bottom:1.8rem;
}